<div class="row-fluid">
<div class="col-md-6 col-sm-4 ">
	<%#= image_tag 'header.jpg'%>
	<span>Meeravalli Shaik</span>
	
</div>
	<div class="col-md-6" id="logobar">
		<span>Web Designer and Web Developer</span>
	<span>Software engineer</span>
	</div>
</div>
<style type="text/css">
	#logobar{
		/*float: left;*/
	}
</style>